<ng-container *ngIf="post">
    <div class="post container">
        <div class="content">
            <img src="{{post.img}}" />
            <div class="user">
                <img src="{{post.author?.img}}" />
                <div class="info">
                    <p>{{post.author?.username}}</p>
                    <span>{{post.date | date: 'dd-MM-yyyy HH:mm' }}</span>
                </div>
                <ng-container *ngIf="currentUser?._id === post.author?._id">
                    <div class="actions">
                        <div class="edit">
                            <mat-icon
                                routerLink="/write"
                                [queryParams]="{id: post._id}"
                                >edit</mat-icon
                            >
                        </div>
                        <div class="delete">
                            <mat-icon (click)="deletePost(post._id!)"
                                >delete</mat-icon
                            >
                        </div>
                    </div>
                </ng-container>
            </div>
            <h1>
                {{post.title}}
            </h1>
            <p [innerHTML]="post.desc | sanitizeHtml"></p>
        </div>
        <div class="sidebar">
            <app-sidebar category="{{post.cat}}"></app-sidebar>
        </div>
    </div>
</ng-container>
